<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script src="https://unpkg.com/vue@next"></script>

  <title>Curso con Vue</title>
</head>
<body>

  <div id="app">
    <h1>{{titulo}}</h1> <!--interpolación-->
    <ul>
      <li v-for="fruta of frutas"> <!--Ciclo FOR a través de un LOOP-->
        {{fruta.nombre}} - {{fruta.cantidad}}
        <span v-if="fruta.cantidad === 0"> - Sin Stock</span>
      </li>
    </ul>
  </div>

  <div id="app2">
    <h1>{{ titulo2 }}</h1>
    <ul>
      <li v-for="insumo of insumos">
        {{ insumo.componente }}
        <span v-if="insumo.disponible === 'no'"> - No disponible</span>
        <span v-if="insumo.disponible === 'si'"> - Disponible</span>
      </li>
    </ul>
  </div>

  <div id="app3">
    <h1> {{ titulo3 }}</h1>
    <ul>
      <li v-for="alumno of alumnos">
        {{ alumno.nombre }}
        <span v-if="alumno.presente === 'si'"> - Presente</span>
        <span v-if="alumno.presente === 'no'"> - Ausente</span>
      </li>
    </ul>
  </div>

  
  <script src="js/main.js"></script>
  <script>
    const mountedApp = app.mount('#app');
    const mountedApp2 = app2.mount('#app2');
    const mountedApp3 = app3.mount('#app3');
  </script>
</body>
</html>